/* ====== style for hero-banner section ===== */

.hero-banner {
    height: 633px;
    background-size: cover;
    background-position: top center;
}

.hero-banner .container-fluid {
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 9%, rgba(255,255,255,0) 46%);
}

.hero-banner .text {
    padding: 70px 0 170px;
}
.hero-banner .text h1 {
    color: var(--text-white);
    font-size: 80px;
    letter-spacing: 32px;
    width: 13ch;
    animation: typing 2s steps(13), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px double var(--main-color-2);
}
@keyframes typing {
    from {
        width: 0
    }
}
      
@keyframes blink {
    50% {
        border-color: transparent
    }
}
.hero-banner .text p {
    color: var(--text-white-2);
}

.hero-banner .search {
    font-family: "Roboto Mono", monospace;
    background-color: var(--text-white);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.hero-banner .search .nav .nav-item {
    color: var(--main-color);
    padding: 4px 24px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: all 0.3s ease-in;
}
.hero-banner .search .nav .nav-item .nav-link {
    pointer-events: none;
}
.hero-banner .search .nav .nav-item i {
    color: var(--main-color);
    font-size: 14px;
}
.hero-banner .search .nav .nav-item:first-child {
    order: 2;
}
.hero-banner .search .nav .nav-item:nth-child(2) {
    border-bottom-left-radius: 0;
    order: 1;
}
.hero-banner .search .nav .nav-item:nth-child(3) {
    order: 3;
}
.hero-banner .search .nav .nav-item:hover {
    cursor: pointer;
    background-color: var(--primary-btn-hover);
}
.hero-banner .search .nav .nav-item:hover i,
.hero-banner .search .nav .nav-item:hover .nav-link {
    color: var(--text-white);
}

.hero-banner .search .input-field .form-control {
    padding: 6px 14px;
}

.hero-banner .search .input-field .form-label i {
    font-size: 14px;
}

.hero-banner .search .btn-search {
    color: var(--text-white-2);
    background-color: var(--secondary-btn);
}
.hero-banner .search .btn-search:hover{
    background-color: var(--secondary-btn-hover);
    color: var(--text-white);
}

/* ===== style for sub-menu section ===== */
.sub-menu .nav {
    font-family: "Roboto Mono", monospace;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.sub-menu .nav::-webkit-scrollbar {
    display: none;
}
.sub-menu .nav .nav-item .nav-link {
    color: var(--sub-text);
    margin: 0 32px;
    padding: 0 0 5px 0;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.sub-menu .nav .nav-item .nav-link:hover {
    color: var(--main-color);
}
.sub-menu .nav .nav-item .nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
}
.sub-menu .nav .nav-item .nav-link:hover::after{
    transform: scaleX(1);
}
/* ===== style for offers section ===== */
.offers .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.721) 0%, rgba(255,255,255,0) 100%);
}
/* ===== style for populars section ===== */
.popular .card,
.popular .card .card-body h5 {
    transition: all 0.3s ease-in-out;
}
.popular .card {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.popular .card:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.popular .card img,
.trending .card img,
.trending .card .overlay {
    transition: all 0.4s ease-in-out;
}
.popular .card:hover img,
.trending .card:hover img {
    transform: scale(1.03);
}
.popular .card:hover .card-body h5 {
    color: var(--main-color);
}
.popular .card .card-body .rating i {
    font-size: 13px;
}
/* ===== style for trending section ===== */
.trending .card {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.trending .card .overlay {
    top: 0;
    left: 0;
    display: flex;
    align-items: end;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.8072478991596639) 0%, rgba(255,255,255,0) 100%);
    color: var(--main-color-2);
}
.trending .card:hover .overlay {
    color: var(--text-white);
}
.trending .card .overlay h4{
    opacity: 0.5;
}
.trending .card:hover .overlay h4 {
    opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
   background-color: var(--main-color-2);
   width: 35px;
   height: 35px;
   transition: all 0.3s ease-in-out;
   opacity: 0.5;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
    opacity: 1;
    background-color: var(--main-color);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

/* ===== style for member section */
.member {
    height: 420px;
}
.member .container {
    height: 100%;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}
.member .container .content {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.member .container .content h2 {
    color: var(--text-white);
    opacity: 0.8;
}

.member .container .content .btn-join {
    color: var(--text-white);
    border: 2px solid var(--main-color-2);
    transition: all 0.4s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.member .container .content .btn-join:hover {
    border: 2px solid var(--main-color);
}
.member .container .content .btn-join::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background-color: var(--main-color);
    top: 0;
    left: 0;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    z-index: -1;
}
.member .container .content .btn-join:hover::after {
    transform: scaleX(1);
}
