@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --main-color: #2953d6;
    --main-color-2: #D28013;
    --sub-text: #6C757D;
    --body-text: #333333;
    --bg-color: #fff;
    --text-white: #fff;
    --text-white-2: #f5f5f5;
    --primary-btn: #e7a119;
    --primary-btn-hover: #d28013;
    --primary-btn-active: #B8680F;
    --primary-btn-disabled: #F0C89A;
    --secondary-btn: #2953d6; 
    --secondary-btn-hover: #2642a7;
    --secondary-btn-active: #1D3CAD;
    --secondary-btn-disabled: #B8C5FF;
    --input-disabled: #E0E0E0;
    --link: #2953d6;
    --link-hover: #D28013;
    --link-visited: #6C757D;
    --alerts: #FFA340; 
    --errors: #FF4D4D;
    --success: #28A745;
    --animate-delay: 1s;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    font-family: "Roboto", sans-serif;
}

.cursor-pointer {
    cursor: pointer;
}

.hover-underline:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

.form-check-input:focus,
.form-control:focus {
    box-shadow: none;
}

.primary-button {
    background-color: var(--primary-btn);
    color: var(--text-white-2);
    transition: all 0.4s ease;
}
.primary-button:hover {
    background-color: var(--primary-btn-hover);
    color: var(--main-color);
}

.secondary-button {
    background-color: var(--secondary-btn);
    color: var(--text-white-2);
    transition: all 0.4s ease;
}
.secondary-button:hover {
    background-color: var(--secondary-btn-hover);
    color: var(--text-white);
}

.secondary-button.loading {
    pointer-events: none;
    position: relative;
}
.secondary-button.loading .button-text {
    visibility: hidden !important;
}
.secondary-button.loading::after {
    content: '';
    position: absolute;
    top: 25%;
    left: 50%;
    width: 16px;
    height: 16px;
    border: 3px solid #fff;
    border-top: 3px solid var(--main-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.secondary-button:disabled {
    background-color: var(--secondary-btn-disabled) !important;
}

.logo-image {
    width: 180px !important;
}

.nav-link {
    cursor: pointer;
}

/* ===== style navbar in landing-page ===== */
.header-landing {
    font-family: "Roboto Mono", monospace;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
header .navbar .navbar-nav::-webkit-scrollbar {
    display: none;
}
.header-landing .navbar .btn-support {
    color: var(--secondary-btn);
}
.header-landing .navbar .btn-support:hover {
    color: var(--secondary-btn-hover);
}
.header-landing .navbar .btn-signIn {
    background-color: var(--primary-btn);
    color: var(--text-white-2);
}
.header-landing .navbar .btn-signIn:hover {
    background-color: var(--primary-btn-hover);
}
.header-landing hr {
    opacity: 0.7;
    border-color: var(--main-color);
}
.header-landing .navbar .navbar-nav .nav-item .nav-link {
    color: var(--sub-text);
    margin: 0 32px;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.header-landing .navbar .navbar-nav .nav-item .nav-link:hover {
    color: var(--main-color-2);
}
.header-landing .navbar .navbar-nav .nav-item .nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    top: 0;
    left: 0;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
}
.header-landing .navbar .navbar-nav .nav-item .nav-link:hover::after{
    transform: scaleX(1);
}

/* ===== style input ===== */
.group .form-control {
    color: var(--body-text) !important;
    border: 1px solid #99c3f7;
    border-radius: 3px;
}
.group .form-control:focus {
    border: 1px solid var(--main-color);
}
.group .form-control:disabled {
    color: #aab0b6 !important;
    background-color: transparent !important;
    border: 1px solid #dde9fc !important;
}
.group .form-label {
    color: #9a9999;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.3s ease;
}
.group .form-control:focus + .form-label,
.group .form-control:not(:placeholder-shown) + .form-label {
    top: 0;
    left: 8px;
    font-size: 13px;
    font-weight: 500;
    color: var(--main-color);
    background: var(--text-white);
    padding: 0 6px;
}

.group .form-control:disabled + .form-label,
.group .form-control:disabled:not(:placeholder-shown) + .form-label {
    color: #aab0b6 !important;
}
/* ===== style for alertSMS ===== */
.alertSMS {
    width: 95%;
    color: var(--errors);
    border: 1px solid var(--errors);
    background-color: #ffdfdf;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in;
    opacity: 0;
}
.alertSMS.show {
    top: 20px;
    opacity: 1;
}

/* ===== style for footer ===== */
.footer {
    font-family: "Roboto Mono", monospace;
    color: var(--sub-text);
    background-color: #1a2651;
}
.footer .top-footer .social-icon {
    width: 35px;
    height: 35px;
    margin: 7px 8px;
    background-color: var(--main-color);
    color: #1a2651;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: relative;
    overflow: hidden;
}
.footer .top-footer .social-icon:hover {
    cursor: pointer;
    background-color: transparent;
    background-color: var(--main-color-2);
}
.footer .top-footer .social-icon::after {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    background-color: var(--main-color-2);
    transition: all 0.2s ease-in-out;
}
.footer .top-footer .social-icon:hover::after {
    top: 0;
    left: 0;
}
.footer .top-footer .social-icon i {
    position: absolute;
    z-index: 3;
}
.footer .top-footer a {
    color: var(--sub-text);
    transition: all 0.2s ease-in;
}
.footer .top-footer a:hover {
    color: var(--main-color-2);
}

.footer .bottom-footer {
    background-color: #233c8562;
}
.footer .bottom-footer h6 {
    color: #ccc;
}